.swift-control-widgets {
	position: fixed;
	left: 0;
	top: 50%;
	list-style: none;
	margin: -27.5px 0 0;
	padding: 0;
	width: 55px;
	height: 55px;
	opacity: 1;
	touch-action: none;
	user-select: none;
	/* Must be on top of .wpbf-navigation (z-index: 555) and #wpadminbar (z-index: 99999) */
	z-index: 100000;
	transition: left 0.35s, opacity 0.25s;
	display: none!important;
}